.MarginSpacer {
	margin-left: 5px;
}

.container {
	width: 100%;
	padding: 0;
	margin: 0;
}

div.btn-group > a > .btn-primary {
	background-image: linear-gradient(to bottom,#000000 0,#AAAAAA 100%);
}

div.btn-group > a > .btn-primary:hover, div.btn-group > a > .btn-primary:focus{
	background-position: 0 -32px;
	background-image: linear-gradient(to bottom,#333333 0,#AAAAAA 100%);
	background-color: grey;
}

.navbar {
	margin-bottom: 0px;
}

div.tableInfo > tr > td{
	padding-right: 25px;
	padding-bottom: 1px;
	font-size: 25px;
	background-color: #DDDDDD;
	border-top: solid;

}

.navbar, .navbar-default {
    background-image: linear-gradient(to bottom, #CCCCCC .25, #555555 100%) !important;
    border-color: grey;
}

.navbar-default .navbar-brand {
    color: #000000;
    font-size: 30px;
    text-shadow: 3px 2px grey;
}

.navbar-default .navbar-brand:hover{
	text-shadow: 3px 2px white;
}

.DropDownStyle{
}

.navbar-header a{
	color: black;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
	margin: 0;
}

.navbar-right{
	margin: 0;
}

.LoginForm {
	padding: 5px;
	width: 25%;
	height: auto;
	background-color: #DDDDDD;
	border: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	border-radius: 3px;
}

.AccountForm {
	padding: 5px;
	width: 25%;
	height: auto;
	background-color: #DDDDDD;
	border: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	border-radius: 3px;
}