.MarginSpacer {
	margin-left: 5px;
}

.container{
	width: 100%;
	padding: 0;
	margin: 0;
}

.navbar, .navbar-default {
    background-image: linear-gradient(to bottom, #CCCCCC .25, #555555 100%) !important;
}

.navbar-default .navbar-brand {
    color: #000000;
    font-size: 30px;
    text-shadow: 3px 2px grey;
}

.navbar-default .navbar-brand:hover{
	text-shadow: 3px 2px white;
}

.DropDownStyle{
}

.navbar-header a{
	color: black;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
	margin: 0;
}

.navbar-right{
	margin: 0;
}

.LoginForm {
	padding: 5px;
	width: 25%;
	height: auto;
	background-color: #DDDDDD;
	border: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	border-radius: 3px;
}

.AccountForm {
	padding: 5px;
	width: 25%;
	height: auto;
	background-color: #DDDDDD;
	border: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	border-radius: 3px;
}