<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <!-- Beans independent of environment go here -->
    <import resource="beans/dao/UserDao.xml" />
    <import resource="beans/dao/TournamentDao.xml" />
    <import resource="beans/dao/TeamDao.xml" />
    <import resource="beans/dao/MatchDao.xml" />
    <import resource="beans/dao/RosterDao.xml" />
    <import resource="beans/dao/TeamRequestDao.xml" />
    <import resource="beans/dao/SessionDao.xml" />
    <import resource="beans/dao/TournamentRequestDao.xml" />
    <import resource="beans/dao/UserParticipationDao.xml" />

</beans>
