body{
	background-color: lightblue;
}

h1{
	font-size: 150%;
	color: darkblue;
}

#accountForm{
    border-radius: 3px;
    background-color: #f2f2f2;
    padding: 10px; 
	background-color: blue;
	width: 17%;
}

input[type=text]{
	margin-bottom: 5px;
}

input[type=submit]{

}

input[type=submit]:hover{
	
}

#returnHomeReg{
	margin-top: 20px;
}